.outer {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(8,1fr) ;
    grid-template-columns:  repeat(8,1fr) ;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
}

.item{
    width: 75px;
    height: 75px;
}

.box {
    width: 75px;
    height: 75px;
    background-color: black;
}

